{% extends "base.html" %}

<!-- 在模板中填入 head 內容 -->
{% block head %}
<title>
    Voice Control
</title>

<style>
    /* 整個網頁占滿一個畫面的高度 */
    .container {
        height: 100vh;
        width: 100%;
        max-width: 900px;
    }

    .my-title-row {
        height: 10vh;
    }

    .my-response-row {
        height: 20vh;
    }

    .my-deviceinfo-row {
        height: 40vh;
        overflow-y: auto
    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        /*         background-color:#000000 */

    }

    /*     .footer fixed-bottom{
        max-width: 900px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
    } */

    #footer-1st-row {
        max-width: 900px;
        /* 限制最大寬度 */
        width: 100%;
        /* 使用100%寬度，讓容器自適應 */
        display: flex;
        justify-content: space-around;
        /* 均勻分佈內容 */
        align-items: center;
        /* 垂直居中內容 */
        text-align: center;
        /*         background-color: #000000;  */
        margin: 0 auto;
        /* 讓容器水平居中 */
        padding: 10px 0;
        /* 可調整上下內邊距 */
        margin-bottom: 15px;
    }

    .footer .row {
        display: flex;
        justify-content: space-around;
        /* 確保列內的項目均勻分佈 */
        align-items: center;
    }

    .footer .col-4 {
        display: flex;
        flex-direction: column;
        /* 確保圖片和文字是垂直排列的 */
        justify-content: center;
        text-align: center;
    }

    .wrapper {
        max-width: 900px;
        width: 100%;
        justify-content: center;
        text-align: center;
        /*         background-color:#000000; */

    }

    .image-wrapper {
        width: 80px;
        /* 固定容器寬度 */
        height: 80px;
        /* 固定容器高度 */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* 隱藏多餘部分（如圖片過大） */
    }

    .gear {
        width: 80px;
        /* 固定容器寬度 */
        height: 80px;
        /* 固定容器高度 */
        display: flex;
        justify-content: center;
        /* 水平居中 */
        align-items: center;
        /* 垂直居中 */
        overflow: hidden;
        /* 避免圖片超出容器範圍 */
    }

    /* Settings & Typings Icon */
    .icon-img {
        width: 100%;
        /* 圖片寬度佔滿容器 */
        height: 70%;
        /* 圖片高度佔滿容器 */
        object-fit: contain;
        /* 保持圖片比例，顯示完整 */
    }

    /* StartStop Icon */
    .startstop-img {
        width: 100%;
        /* 圖片寬度佔滿容器 */
        height: 100%;
        /* 圖片高度佔滿容器 */
        object-fit: contain;
        /* 保持圖片比例，顯示完整 */
    }

    .ban-img {
        position: absolute;
        /* 設為絕對定位，用於重疊 */
        width: 50%;
        /* 圖標大小為容器寬度的 50% */
        height: 50%;
        /* 圖標大小為容器高度的 50% */
        object-fit: contain;
        /* 保持比例並顯示完整圖片 */
        z-index: 2;
        /* 設定在底層圖標上方 */
        pointer-events: auto;
        /* 防止遮擋底層的點擊事件（如果需要） */
    }

    /* 圖片與文字居中對齊 */
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 水平居中 */
        justify-content: center;
        /* 垂直居中 */
        text-align: center;
        /* 文字置中 */
    }

    /* 統一間距 */
    .row {
        padding: 10px 0;
        /* 上下留白 */
    }


    p {
        margin-top: 10px;
        font-size: 16px;
        color: #333;
    }

    /*     使用者確認框 */
    .confirm-modal {
        display: none;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: 250px;
        width: 300px;
        text-align: center;
        z-index: 1000;
    }

    .confirm-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .editBtn,
    .correctBtn,
    .submitBtn {
        margin-top: 30px;
        font-size: 20px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 150px;
        /* 設定固定寬度 */
        height: 50px;
        /* 設定固定高度 */
        text-align: center;
        /* 文字置中 */
        line-height: 50px;
        /* 確保文字垂直居中 */

    }

    .editBtn {
        font-weight: bold;
        background-color: #f44336;
        /* 紅色 */
    }

    .correctBtn,
    .submitBtn {
        font-weight: bold;
        background-color: #4caf50;
        /* 綠色 */
    }

    #confirm-message {
        font-size: 30px;
        font-weight: bold;
        align-items: center;
    }


    /*     手動輸入框 */
    #Modal_typing .modal-body form {
        display: flex;
        /* 使用 Flexbox */
        flex-direction: column;
        /* 子元素垂直排列 */
        align-items: center;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
    }

    #Modal_typing .modal-body input[type="text"] {
        width: 80%;
        padding: 9px;
        font-size: 20px;
        border: 1px solid #ccc;
        /* 灰色邊框 */
        border-radius: 4px;
        /* 圓角 */
        vertical-align: middle;
        /* 垂直對齊 */
        box-sizing: border-box;
        /* 包括內邊距 */
        margin-bottom: 20px;
    }


    /*     設定框 */
    .settings-modal {
        display: flex;
        /* 使用 Flexbox */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* 背景半透明 */
        justify-content: center;
        /* 水平居中 */
        align-items: center;
        /* 垂直居中 */
    }


    .settings-content {
        background: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* 垂直居中 */
        align-items: center;
        /* 水平居中 */
        text-align: center;
        /* 使所有內部文本居中 */
    }

    .settings-content h2 {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-top: 0;
    }

    .settings-content label {
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        margin-bottom: 8px;
        display: block;
    }

    .settings-content select,
    .languageBtn {
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .settings-content #saveButton {
        font-weight: bold;
        text-align: center;
        width: 50%;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #6c757d;
        color: white;
        border: none;
        cursor: pointer;
    }

    .settings-content #saveButton:hover {
        background-color: #5a6268;
    }

    .settings-content .languageBtn {
        background-color: #007BFF;
        color: white;
        border: none;
        cursor: pointer;
    }

    .settings-content .languageBtn:hover {
        background-color: #0056b3;
    }

    /*     灰色字體 */
    .gray-text {
        color: gray;
    }

    .tablerule1,
    .tablerule2 {
        font-weight: bold;
    }

    .table {
        width: 100%;
        table-layout: fixed;
        /* 這會讓所有的列寬相等 */
        margin-left: auto;
        /* 左邊自動對齊 */
        margin-right: auto;
        /* 右邊自動對齊 */
    }

    .table th,
    .table td {
        text-align: center;
        /* 可選: 將文字置中 */
        padding: 8px;
        /* 可選: 調整內距以增加可讀性 */
    }
</style>
{% endblock %}

<!-- 在模板中填入 body 內容 -->
{% block body %}
<div class="container text-center my-1">
    <!-- Title Section -->
    <div class="row my-title-row">
        <div class="col">
            <h1 class="h3 fw-normal py-3 mb-0">VoiceTalk {{project_name}}</h1>
        </div>
    </div>

    <!-- Response Section -->
    <div class="row my-response-row">
        <div class="col-12">
            <label id="recognitionTitle" for="recognitionBox">辨識結果</label>
            <input id="recognitionBox" class="form-control" type="text" size="60" value="" />
        </div>
        <div class="col-12">
            <label id="responseTitle" for="responseBox">系統回覆</label>
            <div id="resultarea">
                <input id="responseBox" class="form-control" size="60" readonly />
                <span id="response"></span>
            </div>
        </div>
    </div>
    <!-- Device Info Accordion -->
    <div class="row my-deviceinfo-row">
        <div class="container-12">
            <label id="deviceinfoTitle" for="recognitionBox">設備 & 指令提示</label>
            <div class="accordion" id="accordionExample">
                {% for device in device_info %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_{{loop.index}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse_{{loop.index}}" aria-expanded="{{ loop.index == 1 }}"
                            aria-controls="collapse_{{loop.index}}">
                            {{ device }}
                        </button>
                    </h2>
                    <div id="collapse_{{loop.index}}"
                        class="accordion-collapse collapse {% if loop.index == 1 %}show{% endif %}"
                        aria-labelledby="heading_{{loop.index}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><strong>Traits:</strong></p>
                            <ul>
                                {% for trait in device_info[device] %}
                                <li>{{ trait }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="footer fixed-bottom">
        <div class="row justify-content-around align-items-center" id="footer-1st-row">
            <div class="col-4">
                <div class="wrapper">
                    <div class="image-wrapper">
                        <div class="gear" data-bs-toggle="modal" data-bs-target="#Modal_typing">
                            <img class="icon-img" src="{{url_for('static', filename='images/typing.png')}}"
                                alt="Typing" />
                        </div>
                    </div>
                    <p id="typingBox">手動輸入</p>
                </div>
            </div>
            <div class="col-4">
                <div class="wrapper">
                    <div class="image-wrapper">
                        <img class="startstop-img" id="startStopButton" onclick="startstopButton(event)"
                            src="{{ url_for('static', filename='images/start.gif')}}" />
                        <img class="ban-img" id="ban" src="{{ url_for('static', filename='images/ban.png') }}"
                            style="display: none;" />
                    </div>
                    <p id="infoBox">Voice</p>
                </div>
            </div>
            <div class="col-4">
                <div class="wrapper">
                    <div class="image-wrapper">
                        <!--                         <div class="gear" onclick="openSettings()"> -->
                        <div class="gear" data-bs-toggle="modal" data-bs-target="#settings-modal">
                            <img class="icon-img" src="{{url_for('static', filename='images/settings.png')}}"
                                alt="Settings" />
                        </div>
                    </div>
                    <p id="settingsBox">設定</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Typing -->
    <div class="modal fade" id="Modal_typing" tabindex="-1" aria-labelledby="typingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="typingLabel">手動輸入</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="text" name="corrected_sentence" id="user_typing">
                        <button type="submit" class="submitBtn" id="submitBtn">送出</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Settings -->
    <div class="modal fade" id="settings-modal" tabindex="-1" aria-labelledby="settingsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsLabel">設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="settings-content">
                        <label for="selectLanguage" id="languageLabel">語言</label>
                        <button class="languageBtn" id="languageBtn" onclick="toggleLanguage()">中文</button>

                        <label for="selectASRtoolList" id="modelLabel">模型</label>
                        <select id="selectASRtoolList" name="lang" onchange="changeASRtool(event)">
                            <option value="Web Speech API">Web Speech API</option>
                            <option value="Whisper">Whisper</option>
                            <option value="Dialogflow">Google Dialogflow</option>
                            <option value="STT">Google Speech-to-Text</option>
                        </select>
                        <!--                         <button type="button" id="saveButton" onclick="saveSettings()">儲存設定</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for UserConfirm -->
    <div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmLabel">指令</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="confirm-message">內容確認</p>
                    <div class="confirm-buttons">
                        <button class="editBtn" id="editBtn">更正</button>
                        <button class="correctBtn" id="correctBtn">正確</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        checkWebSpeechAPI();
        startstopButton();
        //         changeLanguage();
    });
    //****************************************************************************************
    // 宣告變數responseBox
    //****************************************************************************************  
    var recognitionTitle = { "en-US": "Recognition Result", "cmn-Hant-TW": "辨識結果" }
    var recognitionBox = document.getElementById("recognitionBox"); // 辨識結果  "HTML元件"
    var responseTitle = { "en-US": "System Response", "cmn-Hant-TW": "系統回覆" }
    var deviceinfoTitle = { "en-US": "Devices and Command Prompt", "cmn-Hant-TW": "設備 & 指令提示" }
    var startStopButton; // 「開始/停止」按鈕

    //     User confirm Box
    var correctBtn = document.getElementById("correctBtn");
    var editBtn = document.getElementById("editBtn");
    // Typing Box
    var typingTitle = document.getElementById("Modal_typing_Label");
    //     var submitBtn = document.getElementById("submitBtn")
    var recognizing = false; // 是否辨識中
    var using_tool = "Web Speech API";
    var selectASRtoolList = document.getElementById("selectASRtoolList"); // 語言選擇的下拉式選單
    var recognition;
    var microphone;
    var after_recognition_flag = false
    //網頁上選項
    var startMessage = { "en-US": "Tap to start", "cmn-Hant-TW": "按此開始" }
    var stopMessage = { "en-US": "Tap to stop", "cmn-Hant-TW": "按此結束" }
    var typingMessage = { "en-US": "Typing", "cmn-Hant-TW": "手動輸入" }
    var settingsMessage = { "en-US": "Settings", "cmn-Hant-TW": "設定" }
    // Settings Box
    var languageBtnMessage = { "en-US": "English", "cmn-Hant-TW": "中文" }
    var languageLabel = { "en-US": "Language", "cmn-Hant-TW": "語言" }
    var modelLabel = { "en-US": "Model", "cmn-Hant-TW": "模型" }
    var saveButton = { "en-US": "Save Settings", "cmn-Hant-TW": "儲存設定" }
    var cancelBtnMessage = { "en-US": "Cancel", "cmn-Hant-TW": "取消" } //與Typing Box共用
    // User confirm Box
    var correctBtnMessage = { "en-US": "Correct", "cmn-Hant-TW": "正確" }
    var editBtnMessage = { "en-US": "Edit", "cmn-Hant-TW": "更正" }
    var confirmLabelMessage = { "en-US": "Instruction", "cmn-Hant-TW": "指令" }
    // Typing Box
    var submitBtnMessage = { "en-US": "Submit", "cmn-Hant-TW": "送出" }
    //  Device and Comman Prompt
    var tabletextMessage = { "en-US": "Red text can be changed to:", "cmn-Hant-TW": "紅字可改成: " }
    var tablerule1Message = { "en-US": "Rule 1:", "cmn-Hant-TW": "規則一: " }
    var tablerule2Message = { "en-US": "Rule 2:", "cmn-Hant-TW": "規則二: " }

    var waitMessage = { "en-US": "wait...", "cmn-Hant-TW": "請稍等..." }
    const project_name = "{{ project_name }}"
    const device_info = "{{ device_info }}"
    var final_transcript = '';
    var corrected_sentence = '';
    var after_recognition_flag = false
    var wrong_sentence = ""
    // var mediaRecorder;
    const typingElement = document.getElementById('Modal_typing');
    const confirmElement = document.getElementById('confirm-modal');
    const confirmModal = new bootstrap.Modal(document.getElementById('confirm-modal'));
    // testing execution time
    var start_time = 0
    var recognition_end_time = 0

    // 定義麥克風相關的函數
    let stream = null;
    let mediaRecorder = null;
    let recordedChunks = [];
    // 新
    let language = 'cmn-Hant-TW';

    function toggleBan(status) {
        const banImage = document.getElementById("ban");
        // 切換圖片的顯示狀態
        banImage.style.display = status;
    }

    function toggleLanguage() {
        language = language === 'cmn-Hant-TW' ? 'en-US' : 'cmn-Hant-TW';
        $("#responseBox").val(""); //清空 系統回應
        $("#recognitionBox").val(""); //清空 HTML的辨識結果 “可視的元件”
        final_transcript = "";   //清空 API的辨識結果 "變數"

        $('#settingsLabel').html(settingsMessage[language])
        $("#languageBtn").html(languageBtnMessage[language])
        $("#languageLabel").html(languageLabel[language])
        $("#modelLabel").html(modelLabel[language])
        $("#saveButton").html(saveButton[language])
        $(".cancelBtn").html(cancelBtnMessage[language])
        $("#recognitionTitle").html(recognitionTitle[language]) // 辨識欄位的標題切換至當前語言
        $("#responseTitle").html(responseTitle[language])       // 回應欄位的標題切換至當前語言
        $("#deviceinfoTitle").html(deviceinfoTitle[language])   // 回應欄位的標題切換至當前語言
        $("#infoBox").html(startMessage[language])
        $("#typingBox").html(typingMessage[language])
        $("#settingsBox").html(settingsMessage[language])
        $("#correctBtn").html(correctBtnMessage[language])
        $("#editBtn").html(editBtnMessage[language])
        $("#submitBtn").html(submitBtnMessage[language])
        $("#confirmLabel").html(confirmLabelMessage[language])
        $("#typingLabel").html(typingMessage[language])
        //         Device and Comman Prompt
        $(".tabletext").html(tabletextMessage[language])
        $(".tablerule1").html(tablerule1Message[language])
        $(".tablerule2").html(tablerule2Message[language])


    }
    function saveSettings() {
        console.log("Settings saved");
        // 使用 Bootstrap 的 API 來隱藏模態框
        const myModalEl = document.getElementById('settings-modal');
        const myModal = bootstrap.Modal.getInstance(myModalEl);  // 獲取已經初始化的 modal 實例
        myModal.hide();  // 使用 hide 方法來隱藏模態框
    }

    // 定義錄音相關功能
    // 在 async 中可以用 try...catch 來捕捉錯誤
    async function initRecorder() {
        if (mediaRecorder && mediaRecorder.state !== "inactive") {
            console.warn("MediaRecorder is already initialized and not inactive.");
            return;
        }
        // 清理之前的 recorder 和 stream
        if (stream) {
            stream.getTracks().forEach(track => track.stop());
            stream = null;
        }
        mediaRecorder = null;
        try {
            // 取得麥克風的存取權，取得後網頁就會顯示正在錄音的狀態
            stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });
            // 建立 MediaRecorder
            const options = { mimeType: 'audio/webm' };
            mediaRecorder = new MediaRecorder(stream, options);

            // 開始錄音時要做什麼
            mediaRecorder.onstart = function () {
                recordedChunks = []; // 清空已錄製的音訊片段
                recognizing = true;
                infoBox.innerText = stopMessage[language] // 提示使用者點選按鈕停止
                startStopButton.src = "{{ url_for('static', filename='images/start.gif') }}";
                console.log("Recording started.");
            }

            // 當有音訊數據就加到 recordedChunks 中
            mediaRecorder.ondataavailable = function (event) {
                if (event.data.size > 0) {
                    recordedChunks.push(event.data);
                }
            };
            console.log("MediaRecorder initialized.");
        } catch (err) {
            if (err.name === 'NotAllowedError') {
                console.error("Microphone access denied. Please allow microphone access in your browser settings.");
            } else {
                console.error("Error initializing MediaRecorder:", err);
            }
        }
    }
    // 開始錄音
    async function startRecording() {
        $("#recognitionBox").val(""); //清除最終的辨識訊息
        $("#responseBox").val("");    //清除系統回覆
        if (!mediaRecorder || mediaRecorder.state !== "inactive") {
            // 檢查 recorder 是否已初始化，若未初始化，則初始化
            // 雖然 initRecorder() 不是 Promise 寫法，但因為是宣告成 async 所以會自動把 return 包在 Promise 中回傳，所以可以用 await
            await initRecorder();
        }
        mediaRecorder.start();
    }
    // 停止錄音
    function stopRecording() {
        return new Promise(resolve => {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.onstop = () => {
                    if (stream) {
                        stream.getTracks().forEach(track => track.stop());
                        stream = null;
                    }
                    resolve(); // 在 onstop 事件中完成 Promise
                };
                mediaRecorder.stop();
                mediaRecorder = null;
                recognizing = false;
                infoBox.innerText = startMessage[language]  // 提示使用者點選按鈕開始
                startStopButton.src = "{{ url_for('static', filename='images/stop.jpg') }}";
                console.log("Recording stopped.");
            } else {
                resolve();
            }
        });
    }

    // 將資料(變數:data) 傳到後端的 route(變數:url)。
    // 使用 Promise 來處理非同步的操作，只需要搭配 .then() 跟 .catch() 就能接續處理，防止在還沒取得後端回覆前就執行後面的程式碼
    function sentence_correction(url, data) {
        return new Promise((resolve, reject) => {
            $.getJSON({
                url: url,
                data: data,
                success: function (data) {
                    // 將回傳到 'then'
                    resolve(data);
                },
                error: function () {
                    reject("Failed to get data from server"); // 如果失敗，調用 reject
                }
            });
        });
    }

    // 將資料(變數:data) 傳到後端的 route(變數:url)。
    // 使用 Promise 來處理非同步的操作，只需要搭配 .then() 跟 .catch() 就能接續處理，防止在還沒取得後端回覆前就執行後面的程式碼
    function process_sentence(url, data) {
        return new Promise((resolve, reject) => {
            $.getJSON({
                url: url,
                data: data,
                success: function (data) {
                    // 產生並顯示系統回覆
                    handlingSystemReplies(data)
                    // 將回傳到 'then'
                    resolve(data);
                },
                error: function () {
                    reject("Failed to get data from server"); // 如果失敗，調用 reject
                }
            });
        });
    }

    //=============== funtion changeLanguage(event) =======================
    // This function is triggered when clicking the change Language button
    // 1. stop the recognition and empty all the fields(recognition result,systme response)
    // 2. change the API's language setting
    // 3. change the language of context of GUI  
    // input: event driven  
    // output: recognition.lang is changed  

    //     function changeLanguage(event) {
    //         if (recognizing) { recognition.stop(); } //如果正在辨識, 就停止
    //         language = selectLanguageButton.value;
    //         if (language == "cmn-Hant-TW") { language = "en-US"; selectLanguageButton.src = "{{ url_for('static', filename='images/en-US.png') }}" }
    //         else if (language == "en-US") { language = "cmn-Hant-TW"; selectLanguageButton.src = "{{ url_for('static', filename='images/cmn-Hant-TW.png') }}" }
    //         console.log("change to", language);
    //         selectLanguageButton.value = language;

    //         $("#responseBox").val(""); //清空 系統回應
    //         $("#recognitionBox").val(""); //清空 HTML的辨識結果 “可視的元件”
    //         final_transcript = "";   //清空 API的辨識結果 "變數"

    //         recognition.lang = language;   //辨識API切換至當前語言
    //         $("#recognitionTitle").html(recognitionTitle[language]) // 辨識欄位的標題切換至當前語言
    //         $("#responseTitle").html(responseTitle[language])       // 回應欄位的標題切換至當前語言
    //         $("#deviceinfoTitle").html(deviceinfoTitle[language])   // 回應欄位的標題切換至當前語言
    //         infoBox.innerText = startMessage[language]              // 提示使用者的訊息切換至當前語言
    //     }

    //=============== funtion changeASRtool(event) =======================
    // This function is triggered when dropdown menu of ASR tools list is selected
    // 1. stop the recognition and empty all the fields(recognition result,systme response)
    // 2. change the ASR tools setting
    // input: event driven  
    // output: using_tool is changed  

    function changeASRtool(event) {
        if (recognizing) { recognition.stop(); } //如果正在辨識, 就停止
        using_tool = document.getElementById("selectASRtoolList").value
        //         using_tool = selectASRtoolList.options[selectASRtoolList.selectedIndex].value; // 取得被選擇的模型
        // if (language == "cmn-Hant-TW") { language = "en-US"; selectLanguageButton.src = "{{ url_for('static', filename='images/en-US.png') }}" }
        // else if (language == "en-US") { language = "cmn-Hant-TW"; selectLanguageButton.src = "{{ url_for('static', filename='images/cmn-Hant-TW.png') }}" }
        console.log("tool change to", using_tool);
        // if (using_tool == "Whisper") {
        //     initMicrophoneAndMediaRecorder();
        // }
    }


    // ===== startstopButton(event)  =================
    // This function is triggered when button on GUI is clicked
    // 1. get the language value from the dropdown list
    // 2. if system is recognizing, the button means stop, so stop the recognition
    // 3. if system is not recognizing, the button means start, so start the rocognition  
    async function startstopButton(event) {
        infoBox = document.getElementById("infoBox"); // 取得訊息控制項 infoBox
        recognitionBox = document.getElementById("recognitionBox"); // 取得最終的辨識訊息控制項 recognitionBox
        startStopButton = document.getElementById("startStopButton"); // 取得「辨識/停止」這個按鈕控制項
        // selectLanguageList = document.getElementById("selectLanguageList");
        // language = selectLanguageList.options[selectLanguageList.selectedIndex].value;
        //         language = selectLanguageButton.value;
        if (using_tool == "Web Speech API") {
            console.log("now is Web Speech API", language)
            if (recognizing) { // 如果正在辨識，則停止。
                recognition.stop();
                // // 若有需要使用後端回傳的資料，再把 process_sentence 後面的 .then 跟 .catch 打開來用
                // process_sentence(
                //     url = "/ProcessSentence", 
                //     data = { language: language, sentence: final_transcript }
                // )
            } else { // 否則就開始辨識
                $("#recognitionBox").val(""); //清除最終的辨識訊息
                $("#responseBox").val("");    //清除系統回覆
                final_transcript = ''; // 最終的辨識訊息變數
                recognition.lang = language //設定當前語言
                recognition.start(); // 開始辨識
            }
        }
        else {
            console.log("now is", using_tool, language)
            // 只有 web speech api 是自己處理出 ASR，其他三個工具(Whisper, DialogFlow, STT) 都是錄音檔傳到後端處理。
            if (recognizing) { // 如果正在辨識，則停止。
                await stopRecording();
                $("#recognitionBox").val(waitMessage[language]).addClass("gray-text");
                toggleBan("block")
                sendToBackend()
            }
            else {
                startRecording()
            }
        }
    }

    // 定義產生並顯示系統回復的 function
    function handlingSystemReplies(data) {
        if (language == "en-US") {
            if (data.valid < 0) {
                renderhtml = "Sorry. Please try again!";
            }
            else {
                renderhtml = `OK, ${data.DeviceName}'s "${data.Trait}" is set to "${data.InputValue}"`;
            }
        }
        else if (language == "cmn-Hant-TW") {
            if (data.valid < 0) {
                renderhtml = "對不起。請再試一次！"
            }
            else {
                renderhtml = `收到，${data.DeviceName}的"${data.Trait}"將設定為"${data.InputValue}"`;
            }
        }
        console.log("renderhtml =", renderhtml);
        $("#responseBox").removeClass("gray-text");
        $("#responseBox").val(renderhtml);
        toggleBan("none");
    }

    // 定義 web speech api 的 function
    function checkWebSpeechAPI() {
        console.log("checking")
        // for web speech API
        if (!('webkitSpeechRecognition' in window)) {  // 如果找不到 window.webkitSpeechRecognition 這個屬性
            // 就是不支援語音辨識，要求使用者更新瀏覽器。 
            infoBox.innerText = "本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)";
        }
        else {
            recognition = new webkitSpeechRecognition(); // 建立語音辨識物件 webkitSpeechRecognition
            recognition.continuous = true;                   // 設定連續辨識模式

            recognition.onstart = function () { // 開始辨識
                recognizing = true; // 設定為辨識中
                infoBox.innerText = stopMessage[language] // 提示使用者點選按鈕停止
                startStopButton.src = "{{ url_for('static', filename='images/start.gif') }}";

            };

            recognition.onend = function () { // 辨識完成
                recognizing = false; // 設定為「非辨識中」
                infoBox.innerText = startMessage[language]  // 提示使用者點選按鈕開始
                startStopButton.src = "{{ url_for('static', filename='images/stop.jpg') }}";
            };

            recognition.onresult = function (event) { // 辨識有任何結果時
                for (var i = event.resultIndex; i < event.results.length; ++i) { // 對於每一個辨識結果
                    if (event.results[i].isFinal) { // 如果是最終結果
                        final_transcript = event.results[i][0].transcript; // 將其加入最終結果中
                        console.log("i:" + i + event.results[i][0].transcript);
                    }
                }
                // testing execution time
                start_time = new Date().getTime();
                console.log("自動停止辨識 : " + start_time / 1000 + "sec");
                final_transcript = final_transcript.trim()
                if (final_transcript.length > 0) { // 如果有最終辨識文字
                    console.log("*** SentenceCorrection")
                    sentence_correction(
                        url = "/SentenceCorrection",
                        data = { sentence: final_transcript }
                    ).then((response) => {
                        // 成功時處理
                        corrected_sentence = response.corrected_sentence
                        UserConfirmBox();
                    }).catch((error) => {
                        console.error("Error:", error);
                        alert("Failed to correct sentence.");
                    })
                }
                else {
                    $("#recognitionBox").val("");
                }
            };
        }
    }


    function UserConfirmBox() {
        toggleBan("block");
        confirmModal.show();
        $('#confirm-message').html(corrected_sentence)

    }
    // 當模態框隱藏時，隱藏ban圖片
    confirmElement.addEventListener('hide.bs.modal', () => {
        toggleBan("none");
        recognitionBox.value = "";
    });

    // 處理按鈕點擊
    correctBtn.addEventListener('click', () => {
        console.log("coorctBtn click");
        console.log(corrected_sentence);
        console.log("*** ProcessSentence")

        process_sentence(
            url = "/ProcessSentence",
            data = { language: language, sentence: corrected_sentence, project_name: project_name }
        )
        confirmModal.hide();
        $("#recognitionBox").removeClass("gray-text");
        $("#recognitionBox").val(corrected_sentence)
        $("#responseBox").val(waitMessage[language]).addClass("gray-text");
        toggleBan("block");
    });

    editBtn.addEventListener('click', () => {
        // 將辨識結果放到手動輸入欄位，讓使用者修改，再將 after_recognition_flag 設為 true
        after_recognition_flag = true
        wrong_sentence = corrected_sentence
        confirmModal.hide();
        toggleBan("block");
        // 自動打開Typing畫面
        $('#Modal_typing').modal('show');
        $("#user_typing").val(corrected_sentence);
        $("#typingLabel").html(editBtnMessage[language]);
    });
    // 當模態框隱藏時，隱藏ban圖片
    typingElement.addEventListener('hide.bs.modal', () => {
        toggleBan("none");
    });

    function sendToBackend() {
        console.log("sendToBackend")
        let formData = new FormData();
        formData.append("using_tool", using_tool);
        // console.log("recordedChunks:", recordedChunks)
        formData.append("file", new Blob(recordedChunks), "audio.wav");

        let request = new XMLHttpRequest();
        // 先將音檔傳到後端("/save")跑 ASR，再將 ASR 結果傳到後端("/ProcessSentence")跑指令處理
        console.log("*** save")
        request.open("POST", "/save");
        request.onreadystatechange = () => {
            if (request.readyState == 4) {
                var res = JSON.parse(request.responseText);
                if (res.sentence != "") {
                    final_transcript = res.sentence
                    console.log(request.readyState);
                    console.log("*** SentenceCorrection")
                    sentence_correction(
                        url = "/SentenceCorrection",
                        data = { sentence: final_transcript }
                    ).then((response) => {
                        // 成功時處理
                        corrected_sentence = response.corrected_sentence
                        UserConfirmBox();
                    }).catch((error) => {
                        console.error("Error:", error);
                        alert("Failed to correct sentence.");
                    })
                }
                else {
                    console.log("nothing");
                    $("#recognitionBox").val("");
                    toggleBan("none")
                }
            }
        }
        request.send(formData);

        console.log("傳送成功");
    };

    // 按下手動輸入的 Submit 按鈕
    $(document).ready(function () {
        $('form').submit(function (event) {
            var submitBtn = document.getElementById('submitBtn');
            event.preventDefault();
            corrected_sentence = $("#user_typing").val(),
                $("#user_typing").val("");
            submitBtn.disabled = true;
            submitBtn.textContent = "Waiting..."
            $('#Modal_typing').modal('hide');
            $("#recognitionBox").removeClass("gray-text");
            $("#recognitionBox").val(corrected_sentence);
            $("#responseBox").val(waitMessage[language]).addClass("gray-text");
            toggleBan("block");
            console.log("*** ManualTyping")
            $.getJSON({
                type: 'POST',
                url: '/ManualTyping',
                data: {
                    language: language,
                    corrected_sentence: corrected_sentence,
                    wrong_sentence: wrong_sentence,
                    after_recognition_flag: after_recognition_flag,
                    project_name: project_name
                },
                // $('form').serialize() + "&wrong_sentence=" + $("#recognitionBox").val() + "&after_recognition_flag=" + after_recognition_flag,
                success: function (data) {
                    // 產生並顯示系統回復
                    handlingSystemReplies(data)
                    submitBtn.disabled = false;
                    submitBtn.textContent = "Submit"
                    // 將使用者手動輸入內容放到 Recognition Result，並清空手動輸入欄位，再將 after_recognition_flag 設為 false
                    //                     recognitionBox.value = corrected_sentence;
                    after_recognition_flag = false
                },
                error: function () {
                    alert("fail")
                }
            });
            wrong_sentence = ""
            after_recognition_flag = false
        });
    });
    $(document).ready(function () {
        // 只針對特定的 .gear 按鈕進行處理
        $('div.gear[data-bs-target="#Modal_typing"]').on('click', function () {
            if (language == 'cmn-Hant-TW') {
                $('#typingLabel').text("手動輸入");
            } else {
                $('#typingLabel').text("Typing");
            }
            $("#user_typing").val("");

        });
    });

</script>
<!-- <script type="text/javascript">
    window.onload = startstopButton(event);
    window.onload = changeLanguage(event);
</script> -->
{% endblock %}