{% extends "base.html" %}

<!-- 在模板中填入 head 內容 -->
{% block head %}
<title>
    Voice Control
</title>

<style>
    /* 整個網頁占滿一個畫面的高度 */
    .container {
        height: 100vh;
        width: 100%;
        max-width: 900px;
    }

    .my-title-row {
        height: 10vh;
    }

    .my-response-row {
        height: 20vh;
    }

    .my-deviceinfo-row {
        height: 40vh;
        overflow-y: auto
    }

    #testing-button {
        /* background-image: url("https://fakeimg.pl/200x200/"); */
        background-image: url("{{ url_for('static', filename='images/typing.png') }}");
        height: 75%;
        width: 100%;
        background-size: 100%;
        max-height: 100px;
        max-width: 100px;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        /* margin: 0; */
    }

    #typing-button {
        /* background-image: url("https://fakeimg.pl/200x200/"); */
        background-image: url("{{ url_for('static', filename='images/typing.png') }}");
        height: 75%;
        width: 100%;
        background-size: 100%;
        max-height: 100px;
        max-width: 100px;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        /* margin: 0; */
    }

    #select-model-button {
        /* background-image: url("https://fakeimg.pl/200x200/"); */
        background-image: url("{{ url_for('static', filename='images/select_model.png') }}");
        height: 75%;
        width: 100%;
        background-size: 100%;
        max-height: 100px;
        max-width: 100px;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        /* margin: 0; */
    }

    .footer {
        /* border-top: 1px #a8c5f2 solid; */
        /* border-right: 1px #a8c5f2 solid; */
        /* border-left: 1px #a8c5f2 solid; */
        height: 25vh;
        width: 100%;
        max-width: 900px;
        margin: auto;
        /* background-color: #cfe2ff; */
    }

    .footer #footer-1st-row {
        height: 60%;
    }

    .footer #footer-2nd-row {
        height: 40%;
    }

    .footer .row .col-3 {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
    }

    .footer .wrapper {
        height: 100%;
        width: 100%;
        max-height: 135px;
        max-width: 100px;
    }

    .footer img,
    #selectLanguageButton {
        height: 75%;
        width: 100%;
        max-height: 100px;
        max-width: 100px;
        object-fit: scale-down;
        margin: 0;
        float: left;
    }

    .footer p {
        /* Safari/WebKit uses a non-standard name */
        width: intrinsic;
        /* Firefox/Gecko */
        width: -moz-max-content;
        /* Chrome */
        width: -webkit-max-content;
        width: max-content;
        /* background-color: aquamarine; */
        margin: auto;
        /* font-size: 1.4rem; */
    }
</style>
{% endblock %}

<!-- 在模板中填入 body 內容 -->
{% block body %}

<div class="container text-center my-1">
    <div class="row my-title-row">
        <div class="col">
            <!-- <h1 class="h3 fw-normal py-3 mb-0">VoiceTalk</h1> -->
        </div>
    </div>
    <div class="row my-response-row">
        <div class="col-12">
            <label id="recognitionTitle" for="recognitionBox">辨識結果:</label>
            <input id="recognitionBox" class="form-control" type="text" size="60" value="" />
        </div>
        <div class="col-12">
            <label id="responseTitle" for="recognitionBox">系統回覆:</label>
            <div id="resultarea">
                <input id="responseBox" class="form-control" size="60" readonly />
                <span id="response"></span>
            </div>
        </div>
    </div>
    {% for device in device_info_v2 %}
    {{device}}
    {% endfor %}
    <div class="row my-deviceinfo-row">
        <!-- html for Accordion ↓ -->
        <div class="container-12">
            <label id="deviceinfoTitle" for="recognitionBox">設備 & 指令提示:</label>
            <!-- <div class="row my-5 g-5 justify-content-around align-items-center"></div> -->
            <div class="accordion" id="accordionExample">
                {% for device in device_info %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_{{loop.index}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse_{{loop.index}}" aria-expanded="true"
                            aria-controls="collapse_{{loop.index}}">
                            {{device}}
                        </button>
                    </h2>
                    <div id="collapse_{{loop.index}}"
                        class="accordion-collapse collapse {% if loop.index == 1 %}show{% endif %}"
                        aria-labelledby="heading_{{loop.index}}" data-bs-parent="#accordionExample">

                        <div class="accordion-body">
                            {% set rule1_A = [] %}
                            {% set rule2 = [] %}
                            {% set rule2_V = [] %}

                            {% for info in device_info[device] %}
                            {% if info["rule"] == "1" %}
                            {% for A in info["action"] %}
                            <!-- rule1_A.push(A) -->
                            {% set _ = rule1_A.append(A) %}
                            {% endfor %}

                            {% elif info["rule"] == "2" %}
                            {% set _ = rule2.append(info) %}
                            {% endif %}
                            <!-- <p>{{info["action"]}}</p> -->
                            {% endfor %}

                            {% if rule1_A != [] %}
                            <p>Rule 1 : <span style="color:red;">{{rule1_A[0]}}</span> {{device}}</p>
                            <p>紅字可改成 : <span style="color:red;">{% for A in rule1_A %}{{A}}, {% endfor %}</span></p>
                            {% endif %}
                            {% if rule2 != [] %}
                            <p>Rule 2 : Set the {{device}} <span style="color:red;">{{rule2[0]["action"]}}</span>
                                to <span style="color:blue;">{{rule2[0]["value"][0]}}</span>
                            </p>
                            <table class="table table-striped table-bordered table-sm">
                                <tr>
                                    <td>Action</td>
                                    <td>value</td>
                                </tr>
                                {% for info in rule2 %}
                                <tr>
                                    <td><span style="color:red;">{{info["action"]}}</span></td>
                                    <td><span style="color:blue;">{% for V in info["value"] %}{{V}}, {% endfor %}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- html for Accordion ↑ -->
    </div>

    <!-- Modal ↓ -->
    <!-- typing Modal -->
    <div class="modal fade" id="Modal_typing" tabindex="-1" aria-labelledby="Modal_typing_Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_typing_Label">text input</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="text" name="user" id="user_typing">
                        <input type="submit" name="send" value="文字送出">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- model switch Modal -->
    <div class="modal fade" id="Modal_model_switch" tabindex="-1" aria-labelledby="Modal_model_switch_Label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal_model_switch_Label">Model select</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <select id="selectASRtoolList" name="lang" onchange="changeASRtool(event)">
                    <option value="Web Speech API">Web Speech API</option>
                    <option value="Whisper">Whisper</option>
                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal ↑ -->
    <div class="footer fixed-bottom">
        <div class="row justify-content-around align-items-center" id="footer-1st-row">
            <div class="col-3">
                <div class="wrapper">
                    <img id="startStopButton" onclick="startstopButton(event)"
                        src="{{ url_for('static', filename='images/start.gif') }}" />
                    <p id="infoBox">Voice</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-around align-items-center" id="footer-2nd-row">
            <div class="col-3">
                <div class="wrapper">
                    <!-- Button trigger modal -->
                    <button type="button" id="typing-button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#Modal_typing">
                    </button>
                    <p>Typing</p>
                </div>
            </div>
            <div class="col-3">
                <div class="wrapper">
                    <input type="image" id="selectLanguageButton" onclick="changeLanguage(event)" value="en-US"
                        src="{{ url_for('static', filename='images/en-US.png') }}" />
                    <p>Language</p>
                </div>
            </div>
            <div class="col-3 ">
                <div class="wrapper">
                    <!-- Button trigger modal -->
                    <button type="button" id="select-model-button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#Modal_model_switch">
                    </button>
                    <p>model switch</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        checkWebSpeechAPI();
        startstopButton();
        changeLanguage();
        // 透過mediaDevices.getUserMedia，會提示使用者是否給予存取多媒體數據的許可，同意後會產生MediaStream物件，裡面包含了請求的存取的多媒體數據。
        // 當取得使用者的設備後，進入 handleSuccess 函數
        // const microphone = navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(handleSuccess);
    });
    //****************************************************************************************
    // 宣告變數
    //****************************************************************************************  
    var recognitionTitle = { "en-US": "Recognition Result", "cmn-Hant-TW": "辨識結果" }
    var recognitionBox = document.getElementById("recognitionBox"); // 辨識結果  "HTML元件"
    var final_transcript = '';
    var responseTitle = { "en-US": "System Response", "cmn-Hant-TW": "系統回覆" }
    var responseBox = document.getElementById("responseBox");     //系統回覆
    var deviceinfoTitle = { "en-US": "Devices and Command Prompt", "cmn-Hant-TW": "設備 & 指令提示" }
    var startStopButton; // 「開始/停止」按鈕
    var infoBox = document.getElementById("infoBox"); // 提示使用者的訊息
    var startMessage = { "en-US": "Tap to start", "cmn-Hant-TW": "按此開始" }
    var stopMessage = { "en-US": "Tap to stop", "cmn-Hant-TW": "按此結束" }
    var selectLanguageButton = document.getElementById("selectLanguageButton"); // 語言選擇的 input 圖片
    // var selectLanguageList = document.getElementById("selectLanguageList"); // 語言選擇的下拉式選單
    var recognizing = false; // 是否辨識中
    var using_tool = "Web Speech API";
    var selectASRtoolList = document.getElementById("selectASRtoolList"); // 語言選擇的下拉式選單
    var recognition;
    var microphone;
    // var mediaRecorder;

    // testing execution time
    var start_time = 0
    var recognition_end_time = 0

    //=============== funtion changeLanguage(event) =======================
    // This function is triggered when clicking the change Language button
    // 1. stop the recognition and empty all the fields(recognition result,systme response)
    // 2. change the API's language setting
    // 3. change the language of context of GUI  
    // input: event driven  
    // output: recognition.lang is changed  

    function changeLanguage(event) {
        if (recognizing) { recognition.stop(); } //如果正在辨識, 就停止
        language = selectLanguageButton.value;
        if (language == "cmn-Hant-TW") { language = "en-US"; selectLanguageButton.src = "{{ url_for('static', filename='images/en-US.png') }}" }
        else if (language == "en-US") { language = "cmn-Hant-TW"; selectLanguageButton.src = "{{ url_for('static', filename='images/cmn-Hant-TW.png') }}" }
        console.log("change to", language);
        selectLanguageButton.value = language;

        $("#responseBox").val(""); //清空 系統回應
        $("#recognitionBox").val(""); //清空 HTML的辨識結果 “可視的元件”
        final_transcript = "";   //清空 API的辨識結果 "變數"

        recognition.lang = language;   //辨識API切換至當前語言
        $("#recognitionTitle").html(recognitionTitle[language]) // 辨識欄位的標題切換至當前語言
        $("#responseTitle").html(responseTitle[language])       // 回應欄位的標題切換至當前語言
        $("#deviceinfoTitle").html(deviceinfoTitle[language])   // 回應欄位的標題切換至當前語言
        infoBox.innerText = startMessage[language]              // 提示使用者的訊息切換至當前語言
    }

    //=============== funtion changeASRtool(event) =======================
    // This function is triggered when dropdown menu of ASR tools list is selected
    // 1. stop the recognition and empty all the fields(recognition result,systme response)
    // 2. change the ASR tools setting
    // input: event driven  
    // output: using_tool is changed  

    function changeASRtool(event) {
        if (recognizing) { recognition.stop(); } //如果正在辨識, 就停止
        using_tool = selectASRtoolList.options[selectASRtoolList.selectedIndex].value; // 取得被選擇的模型
        // if (language == "cmn-Hant-TW") { language = "en-US"; selectLanguageButton.src = "{{ url_for('static', filename='images/en-US.png') }}" }
        // else if (language == "en-US") { language = "cmn-Hant-TW"; selectLanguageButton.src = "{{ url_for('static', filename='images/cmn-Hant-TW.png') }}" }
        console.log("tool change to", using_tool);
        // if (using_tool == "Whisper") {
        //     initMicrophoneAndMediaRecorder();
        // }
    }


    // ===== startstopButton(event)  =================
    // This function is triggered when button on GUI is clicked
    // 1. get the language value from the dropdown list
    // 2. if system is recognizing, the button means stop, so stop the recognition
    // 3. if system is not recognizing, the button means start, so start the rocognition  
    function startstopButton(event) {
        infoBox = document.getElementById("infoBox"); // 取得訊息控制項 infoBox
        recognitionBox = document.getElementById("recognitionBox"); // 取得最終的辨識訊息控制項 recognitionBox
        startStopButton = document.getElementById("startStopButton"); // 取得「辨識/停止」這個按鈕控制項
        // selectLanguageList = document.getElementById("selectLanguageList");
        // language = selectLanguageList.options[selectLanguageList.selectedIndex].value;
        language = selectLanguageButton.value;
        if (using_tool == "Web Speech API") {
            console.log("now is Web Speech API")
            if (recognizing) { // 如果正在辨識，則停止。
                recognition.stop();

                // testing execution time
                start_time = new Date().getTime();
                console.log(start_time / 1000 + "sec");

            } else { // 否則就開始辨識
                $("#recognitionBox").val(""); //清除最終的辨識訊息
                $("#responseBox").val("");    //清除系統回覆
                final_transcript = ''; // 最終的辨識訊息變數
                recognition.lang = language //設定當前語言
                recognition.start(); // 開始辨識
            }
        }
        else if (using_tool == "Whisper") {
            if (recognizing) { // 如果正在辨識，則停止。
                window.mediaRecorder.stop();
                if (window.stream) {
                    window.stream.getTracks().forEach(track => {
                        track.stop();
                    });
                }

                // testing execution time
                start_time = new Date().getTime();
                console.log(start_time / 1000 + "sec");
            }
            else {
                // 透過mediaDevices.getUserMedia，會提示使用者是否給予存取多媒體數據的許可，同意後會產生MediaStream物件，裡面包含了請求的存取的多媒體數據。
                // 當取得使用者的設備後，進入 handleSuccess 函數
                microphone = navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(handleSuccess);
                setTimeout(function () {
                    window.mediaRecorder.start();
                }, 1000);
            }
        }


    }

    function initMicrophoneAndMediaRecorder() {
        // const microphone = navigator.mediaDevices;
        // const microphone = navigator.mediaDevices.getUserMedia({ audio: true, video: false });
        const microphone = navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(handleSuccess);
        console.log(microphone)
    }

    function handleSuccess(stream) {
        const options = { mimeType: 'audio/webm' };
        var mediaRecorder = new MediaRecorder(stream, options);

        window.stream = stream;
        window.mediaRecorder = mediaRecorder;

        var recordedChunks = [];

        mediaRecorder.addEventListener('dataavailable', function (e) {
            if (e.data.size > 0) recordedChunks.push(e.data);
        });

        mediaRecorder.addEventListener('stop', function () {
            console.log("mediaRecorder 結束");
            sendToBackend();
            recognizing = false;
            infoBox.innerText = startMessage[language]  // 提示使用者點選按鈕開始
            startStopButton.src = "{{ url_for('static', filename='images/stop.jpg') }}";
        });

        mediaRecorder.addEventListener('start', function () {
            recordedChunks = [];
            recognizing = true;
            infoBox.innerText = stopMessage[language] // 提示使用者點選按鈕停止
            startStopButton.src = "{{ url_for('static', filename='images/start.gif') }}";
            console.log("mediaRecorder 開始");
        });

        function sendToBackend() {
            let formData = new FormData();
            formData.append("file", new Blob(recordedChunks), "audio.wav");

            let request = new XMLHttpRequest();
            request.open("POST", "/save");
            request.onreadystatechange = () => {
                if (request.readyState == 4) {
                    var res = JSON.parse(request.responseText);
                    // console.log("res", res.sentence);
                    recognitionBox.value = res.sentence;
                    $.getJSON({
                        url: "/ProcessSentence",
                        data: { language: language, sentence: res.sentence },
                        success: function (data) {
                            if (language == "en-US") {
                                // console.log("data recieve", data)
                                // console.log("valid bit frontend", data.valid)
                                if (data.valid < 0) {
                                    renderhtml = data.response
                                    switch (data.valid) {
                                        case -1: renderhtml = "The number of device/device feature should be one, not multiple."; break;
                                        case -2: renderhtml = "No device found in the sentence."; break;
                                        case -3: renderhtml = "No device feature found in the sentence"; break;
                                        case -4: renderhtml = "Device " + data.name + " does not support " + data.feature; break;
                                        case -5: renderhtml = "The value" + data.value + " in sentence cause error"; break;
                                    }
                                }
                                else {
                                    if (data.valid == 1) {
                                        renderhtml = data.response + data.name + " is set to " + data.feature
                                    }
                                    else {
                                        renderhtml = data.response + data.name + "'s " + data.feature + " is set to " + data.value
                                    }

                                }
                            }
                            else if (language == "cmn-Hant-TW") {
                                console.log("data recieve", data)
                                console.log("valid bit frontend", data.valid)
                                if (data.valid < 0) {
                                    renderhtml = data.response + data.valid
                                    switch (data.valid) {
                                        case -1: renderhtml = "句子中的電器/電器功能的數量僅能為一個"; break;
                                        case -2: renderhtml = "句子中未包含電器"; break;
                                        case -3: renderhtml = "句子中未包含電器功能"; break;
                                        case -4: renderhtml = data.name + " 不支援 " + data.feature; break;
                                        case -5: renderhtml = "句子中的數值" + data.value + "有誤"; break;
                                        case -6: renderhtml = "句子中的數值" + data.value + "超出範圍"; break;

                                    }
                                }
                                else {
                                    if (data.valid == 1) {
                                        renderhtml = data.response + data.name + "即將" + data.feature
                                    }
                                    else {
                                        renderhtml = data.response + data.name + "的" + data.feature + "將設定為" + data.value
                                    }

                                }
                            }
                            console.log(renderhtml)
                            $("#responseBox").val(renderhtml);

                            $("#user_typing").val(res.sentence);

                            // testing execution time
                            recognition_end_time = new Date().getTime();
                            console.log("recognition time (Whisper) : " + (recognition_end_time - start_time) / 1000 + "sec");
                        },
                        error: function () {
                            //alert("fail")
                        }
                    });
                }
            }
            request.send(formData);
            console.log("傳送成功");
        };
    };

    function checkWebSpeechAPI() {
        console.log("checking")
        // for web speech API
        if (!('webkitSpeechRecognition' in window)) {  // 如果找不到 window.webkitSpeechRecognition 這個屬性
            // 就是不支援語音辨識，要求使用者更新瀏覽器。 
            infoBox.innerText = "本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)";
        }
        else {
            recognition = new webkitSpeechRecognition(); // 建立語音辨識物件 webkitSpeechRecognition
            recognition.continuous = true;                   // 設定連續辨識模式

            recognition.onstart = function () { // 開始辨識
                recognizing = true; // 設定為辨識中
                infoBox.innerText = stopMessage[language] // 提示使用者點選按鈕停止
                startStopButton.src = "{{ url_for('static', filename='images/start.gif') }}";
            };

            recognition.onend = function () { // 辨識完成
                recognizing = false; // 設定為「非辨識中」
                infoBox.innerText = startMessage[language]  // 提示使用者點選按鈕開始
                startStopButton.src = "{{ url_for('static', filename='images/stop.jpg') }}";
            };

            recognition.onresult = function (event) { // 辨識有任何結果時
                for (var i = event.resultIndex; i < event.results.length; ++i) { // 對於每一個辨識結果
                    if (event.results[i].isFinal) { // 如果是最終結果
                        final_transcript = event.results[i][0].transcript; // 將其加入最終結果中
                        console.log("i:" + i + event.results[i][0].transcript);
                    }
                }
                // testing execution time
                start_time = new Date().getTime();
                console.log("自動停止辨識 : " + start_time / 1000 + "sec");

                if (final_transcript.trim().length > 0) { // 如果有最終辨識文字
                    recognitionBox.value = final_transcript; // 顯示最終辨識文字到HTML

                    // portocol: send input to backend and get the input

                    $.getJSON({
                        url: "/ProcessSentence",
                        data: { language: language, sentence: final_transcript },
                        success: function (data) {
                            if (language == "en-US") {
                                console.log("data recieve", data)
                                console.log("valid bit frontend", data.valid)
                                if (data.valid < 0) {
                                    renderhtml = data.response
                                    switch (data.valid) {
                                        case -1: renderhtml = "The number of device/device feature should be one, not multiple."; break;
                                        case -2: renderhtml = "No device found in the sentence."; break;
                                        case -3: renderhtml = "No device feature found in the sentence"; break;
                                        case -4: renderhtml = "Device " + data.name + " does not support " + data.feature; break;
                                        case -5: renderhtml = "The value" + data.value + " in sentence cause error"; break;
                                    }
                                }
                                else {
                                    if (data.valid == 1) {
                                        renderhtml = data.response + data.name + " is set to " + data.feature
                                    }
                                    else {
                                        renderhtml = data.response + data.name + "'s " + data.feature + " is set to " + data.value
                                    }

                                }
                            }
                            else if (language == "cmn-Hant-TW") {
                                console.log("data recieve", data)
                                console.log("valid bit frontend", data.valid)
                                if (data.valid < 0) {
                                    renderhtml = data.response + data.valid
                                    switch (data.valid) {
                                        case -1: renderhtml = "句子中的電器/電器功能的數量僅能為一個"; break;
                                        case -2: renderhtml = "句子中未包含電器"; break;
                                        case -3: renderhtml = "句子中未包含電器功能"; break;
                                        case -4: renderhtml = data.name + " 不支援 " + data.feature; break;
                                        case -5: renderhtml = "句子中的數值" + data.value + "有誤"; break;
                                        case -6: renderhtml = "句子中的數值" + data.value + "超出範圍"; break;

                                    }
                                }
                                else {
                                    if (data.valid == 1) {
                                        renderhtml = data.response + data.name + "即將" + data.feature
                                    }
                                    else {
                                        renderhtml = data.response + data.name + "的" + data.feature + "將設定為" + data.value
                                    }

                                }
                            }
                            console.log("renderhtml =", renderhtml)
                            $("#responseBox").val(renderhtml);

                            // console.log("final_transcript =", final_transcript)
                            $("#user_typing").val(final_transcript);

                            // testing execution time
                            recognition_end_time = new Date().getTime();
                            console.log("recognition time (Web Speech API) : " + (recognition_end_time - start_time) / 1000 + "sec");
                        },
                        error: function () {
                            //alert("fail")
                        }
                    });
                }
            };
        }
    }

</script>

<!-- <script type="text/javascript">
    window.onload = startstopButton(event);
    window.onload = changeLanguage(event);
</script> -->
{% endblock %}